/* inspired by https://codepen.io/jdigi/pen/MWwOQO */
.container,
#holder {
  margin: 0 auto;
  max-width: 700px;
}
.drag {
  background-color: #e56a5a;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  float: left;
  margin-left: 5px;
  height: 100px;
  width: 100px;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  -ms-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}
.drag:last-of-type {
  margin-right: 5px;
}
.drag:hover {
  background-color: #f94a34;
}
.flex {
  display: flex;
}
.dropIt {
  background: #5eced2;
  border-radius: 5px;
  height: 80vh;
  margin: 0 auto;
  padding-top: 5px;
  width: 200px;
  border: 1px solid red;
}
#holder {
  width: 200px;
  margin: 0 auto;
}
.dropIt.disallow {
  border: 20px solid red;
}
.dropIt.active {
  border: 20px solid yellow;
}
.monster,
#holder div {
  color: white;
  font-size: 48px;
}
/* cards style based on https://codepen.io/gavinn/pen/xxzPqa */
#holder div {
  display: block;
  width: 100px;
  height: 150px;
  color: white;
  border: 3px solid black;
  border-radius: 20px;
  position: absolute;
  padding: 10px;
  top: 100%;
  font-weight: bold;
}
#holder div:nth-child(1) {
  transform: rotate(-40deg) translateY(-200px);
}
#holder div:nth-child(2) {
  transform: rotate(-20deg) translateY(-200px);
}
#holder div:nth-child(3) {
  transform: rotate(0deg) translateY(-200px);
}
#holder div:nth-child(4) {
  transform: rotate(20deg) translateY(-200px);
}
#holder div:nth-child(5) {
  transform: rotate(40deg) translateY(-200px);
}
#holder div:nth-child(6) {
  transform: rotate(60deg) translateY(-200px);
}
