body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid blue;
  background: lightblue;
  border-radius: 12px;
}
#wrapper {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}
#info {
  margin-bottom: 20px;
}
#top-menu {
  margin-left: 40px;
  font-size: 40px;
}
.hit {
  background: blue;
}
#top-menu div {
  display: flex;
  width: 620px;
  margin: 0 auto;
  /* verically center */
  align-items: center;
}
#left-menu {
  width: 60px;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
.cell {
  cursor: pointer;
  width: 60px;
  border: 1px solid blue;
  height: 60px;
  border-radius: 12px;
}
.disabled-cell {
  border: 1px solid brown;
  height: 60px;
  /* horizontally center */
  justify-content: center;
}

.hide {
  display: none;
}
