body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style-position: inside;
  background-color: lightpink;
}
.container {
  margin: 0 auto;
  max-width: 500px;
  background-color: white;
  padding: 20px;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 52px;
}
.credit li {
  margin: 4px 0;
}
.credit a {
  color: white;
}
.credit,
.info {
  color: white;
  text-align: center;
}
.opponent-container .card {
  background-color: orange;
}
.draw {
  background-image: url(./cards.svg);
  background-size: cover;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 52px;
  text-align: center;
}
.cell {
  border: 2px solid brown;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 140px;
}
.cell:not(.draw) {
  font-size: 80px;
}

.overlay {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 3, 58, 0.9);
  width: 100%;
  height: 100%;
}
button {
  border-radius: 12px;
  font-size: 32px;
}
.restart {
  margin: 20px 0 0 0;
  width: 260px;
}
.start {
  width: 160px;
}
.start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}
h3 {
  width: 160px;
  padding: 4px;
  color: white;
  margin: 10px 0;
}
h3:has(.player-score) {
  background: #c71585;
}
h3:has(.opponent-score) {
  background: #7b68ee;
}
.hide {
  display: none;
}

h2 {
  font-size: 52px;
  margin: 12px 0 0 0;
}
.opponent-container h3 {
  float: left;
  text-align: left;
  border-radius: 0 20px 20px 0;
  padding-left: 8px;
}
.opponent-container > div {
  clear: left;
}
.player-container h3 {
  float: right;
  text-align: right;
  border-radius: 20px 0 0 20px;
  padding-right: 8px;
}
.player-container > div {
  clear: right;
}
.end {
  width: 400px;
  height: 280px;
  margin: 0 auto;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.end h3 {
  font-size: 24px;
  width: 300px;
}
.end .flex {
  justify-content: space-around;
}
.opponent.flex,
.player.flex {
  height: 120px;
}
.occupied::before {
  content: "🐱";
}
.flex {
  display: flex;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.glare {
  opacity: 0.5;
}
.card {
  width: 100px;
  text-align: center;

  height: 100px;
  border-radius: 12px;
  font-size: 80px;
  margin-right: 8px;
}

.from,
.to {
  border: 20px solid gray;
}
.red {
  background-color: #ff69b4;
}
.green {
  background-color: lightgreen;
}

.blue {
  background-color: darkturquoise;
}
.yellow {
  background-color: gold;
}
.cell:hover,
.card:hover,
button:hover {
  cursor: pointer;
}
