body {
  margin: 0;
  padding: 0;
  background-color: green;
  color: white;
}
.container {
  font-size: 20px;
  width: 610px;
  display: flex;
  margin: 0 auto;
}
button.hide {
  visibility: hidden;
}
button:hover {
  cursor: pointer;
}
div.hide {
  display: none;
}
#result {
  font-size: 32px;
}
#T-Wrecks,
#Sauropod {
  width: 40px;
  height: 40px;
  font-size: 40px;
  display: inline-block;
}
#gameStatus {
  height: 340px;
}
h3 {
  margin: 0;
}
h1 {
  font-size: 44px;
}
p,
h1 {
  margin: 2px;
}
#normal:not(.hide) {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
#end {
  height: 160px;
}
#gameStatus,
#end {
  position: absolute;
  width: 300px;
  background: lightgoldenrodyellow;
  color: black;
  padding: 20px;
  border-radius: 8px;
  left: 50%;
  top: 300px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.flexbox {
  width: 200px;
  height: 100%;
}
.flex-top {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  margin-left: -610px;
}
.left-col {
  display: flex;
  flex-direction: column;
}
.right-col {
  margin-top: 2px;
  display: flex;
  flex-direction: column-reverse;
}
.flex-bar {
  margin-left: -200px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.active {
  font-weight: bold;
}
.flex-item {
  width: 100px;
  height: 100px;
  background: darkred;
  border: 1px solid white;
  font-size: 20px;
  text-align: center;
}
details:hover {
  cursor: pointer;
}
details a {
  color: orange;
}
details {
  text-align: center;
  margin-top: 20px;
}
button {
  padding: 15px 50px;
  color: #fff;
  background-color: darkblue;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 1px 3px #50514f;
  outline: none;
  transition: 0.3s;
}
button:disabled {
  cursor: not-allowed;
  background-color: slategray;
}
button:hover:not(:disabled),
button:active {
  outline: none;
  background: blue;
  cursor: pointer;
  transform: translateY(15px);
}
/* dice */
#dice {
  align-self: center;
  margin-top: 20px;
  width: 90px;
  height: 90px;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-out;
}
#restart {
  margin-top: 20px;
}
#dice:hover {
  cursor: pointer;
}

.sides {
  background-color: #efe5dc;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 12px 12px darkgray;
}

.dot {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
}
#roll {
  margin-top: 8px;
}
.side-1 .dot-1 {
  top: 50%;
  left: 50%;
}

.side-2 .dot-1 {
  top: 25%;
  left: 25%;
}
.side-2 .dot-2 {
  top: 75%;
  left: 75%;
}

.side-3 .dot-1 {
  top: 25%;
  left: 25%;
}
.side-3 .dot-2 {
  top: 75%;
  left: 75%;
}
.side-3 .dot-3 {
  top: 50%;
  left: 50%;
}

.side-4 .dot-1 {
  top: 25%;
  left: 25%;
}
.side-4 .dot-2 {
  top: 25%;
  left: 75%;
}
.side-4 .dot-3 {
  top: 75%;
  left: 25%;
}
.side-4 .dot-4 {
  top: 75%;
  left: 75%;
}

.side-5 .dot-1 {
  top: 25%;
  left: 25%;
}
.side-5 .dot-2 {
  top: 25%;
  left: 75%;
}
.side-5 .dot-3 {
  top: 75%;
  left: 25%;
}
.side-5 .dot-4 {
  top: 75%;
  left: 75%;
}
.side-5 .dot-5 {
  top: 50%;
  left: 50%;
}

.side-6 .dot-1 {
  top: 25%;
  left: 25%;
}
.side-6 .dot-2 {
  top: 25%;
  left: 75%;
}
.side-6 .dot-3 {
  top: 75%;
  left: 25%;
}
.side-6 .dot-4 {
  top: 75%;
  left: 75%;
}
.side-6 .dot-5 {
  top: 50%;
  left: 25%;
}
.side-6 .dot-6 {
  top: 50%;
  left: 75%;
}

#dice .side-1 {
  transform: translateZ(45px);
}
#dice .side-2 {
  transform: rotateX(-180deg) translateZ(45px);
}
#dice .side-3 {
  transform: rotateY(90deg) translateZ(45px);
}
#dice .side-4 {
  transform: rotateY(-90deg) translateZ(45px);
}
#dice .side-5 {
  transform: rotateX(90deg) translateZ(45px);
}
#dice .side-6 {
  transform: rotateX(-90deg) translateZ(45px);
}

#dice[data-side="1"] {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="2"] {
  transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
#dice[data-side="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
#dice[data-side="4"] {
  transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
#dice[data-side="5"] {
  transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="6"] {
  transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

#dice[data-side="1"].reRoll {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="2"].reRoll {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#dice[data-side="3"].reRoll {
  transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
#dice[data-side="4"].reRoll {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
#dice[data-side="5"].reRoll {
  transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="6"].reRoll {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: 0;
  }

  100% {
    opacity: 1;
    bottom: 20px;
  }
}
