body {
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  background-color: darkgreen;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 64px;
  text-align: center;
  width: 440px;
  margin: 16px;
  background-color: burlywood;
}
.right p,
.left p {
  margin: 0;
}
.help {
  background-color: white;
  border: 0.5rem outset red;
  border-radius: 12px;
}
.help h1 {
  margin: 4px 0;
}
.help p {
  margin: 0 0 4px 0;
  padding: 0;
}
.hide {
  display: none;
}
.full {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 3, 58, 0.6);
  width: 100%;
  height: 100%;
}
.end {
  border-radius: 12px;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  border: 20px solid goldenrod;
  padding-bottom: 20px;
  color: white;
  background: darkslategray;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.top {
  margin-top: 20px;
}
.top,
.bottom,
.left,
.right {
  font-size: 32px;
  color: white;
}
.left,
.right {
  align-self: center;
}
.red::before {
  content: "🔴";
}
.yellow::before {
  content: "🟡";
}
.green::before {
  content: "🟢";
}
.blue::before {
  content: "🔵";
}
.start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}
.cell {
  border: 1px solid brown;
  height: 80px;
}
.cell.selected {
  background-color: red;
}
.container {
  display: flex;
}
.cell:hover,
button:hover {
  cursor: pointer;
}
button {
  font-size: 28px;
  padding: 8px 12px;
}
